
<table>
  <thead>
    <tr>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% if @comment.approved? %>
      <% @post.comments.each do |comment| %>
      <tr id ="<%= dom_id(comment) %>">
        <td><%= comment.body %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
