
<table>
  <thead>
    <tr>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @post.comments.each do |comment| %>
      <tr id ="<%= dom_id(comment) %>">
        <td><%= comment.body %></td>
        <td> <%= comment.approved %> </td>
        <td> <%= render partial: 'comments/approve', :locals => { c: comment }%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
